.hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media screen and (max-width: 991px) {
        grid-template-columns: none;
    }
}

.hero-content_description {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    row-gap: 50px;
    margin-bottom: 100px;
}

.hero-content_icons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
    img {
        max-width: 100%;
        width: 100%;
    }
}

.hero-content_image {
    position: relative;
    overflow: hidden;

    img {
        position: absolute;
        top: -12%;
        object-fit: cover;
        max-width: 100%;
        width: 100%;
    }

    @media screen and (max-width: 991px) {
        display: none;
    }
}