.hero {
    display: flex;
}

.hero__images {
    flex-basis: 50%;
}

.hero__info_content {
    margin-bottom: 130px;
    display: flex;
    flex-direction: column;
}

.hero__info_content p {
    color: #636769;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.05px;
}

.hero__info_content > *:not(:last-child) {
    margin-bottom: 47px;
}

.hero__info_content h1 {
    font-size: 64px;
    line-height: 70.4px;
    letter-spacing: 1px;
    color: #363B3D;
}

.hero__info_learn_more {
    font-size: 18px;
    line-height: 30px;
    color: #6157AB;
    text-decoration: none;
    padding-bottom: 5.5px;
    margin-left: 48px;
    border-bottom: 1px #6157AB solid;
}

.hero__info_icons p {
    color: #96979A;
    line-height: 16.5px;
    letter-spacing: 2px;
    font-size: 11px;
}

.hero__info_icons_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero__image img {
    position: relative;
}

.hero__info {
    flex-basis: 50%;
    display: grid;
    grid-template-columns: repeat(2, fr);
}