.navbar_wrapper {
    display: flex;
    align-items: center;
    height: 84px;
    font-weight: 400;
    font-size: 17px;
    line-height: 30px;
}

.navbar {
    color: #fff;
    display: flex;
    align-items: center;    
    justify-content: right;
}

.navbar a:not(:last-child) { 
    margin-right: 68px;
}

.navbar a:last-child { 
    margin-right: 83px;
}

.navbar__link {
    text-align: right;
    display: inline-block;
    text-decoration: none;
}

.navbar__link:hover {
    text-decoration: none;
}