.button {
    font-size: 18px;
    line-height: 30px;

    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 5px;
    background: #6157AB;
}