* {
  font-family: 'Roboto', sans-serif;
  color: #636769;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.card_container {
  padding: 75px;
}

/* Navbar */